<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HBNB</title>
</head>
<body>
	<!-- for the states route -->
	{% if states is defined %}
		<h1>States</h1>
		<ul>
			{% for state in states.values()|sort(attribute='name') %}
				<li>{{ state.id }}: <b>{{ state.name }}</b></li>
			{% endfor %}
		</ul>
	<!-- for the /states/<id> route -->
	{% else %}
		<!-- id is not found -->
		{% if state is none %}
			<h1>Not found!</h1>
		<!-- id is found -->
		{% else %}
			<h1>State: {{ state.name }}</h1>
			<h3>Cities:</h3>
			<ul>
			{% for city in state.cities|sort(attribute='name') %}
				<li>{{ city.id }}: <b>{{ city.name }}</b></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
</body>
</html>
